/* src/components/LoanList.css */

.table-container {
  max-height: 250px; /* Adjust the max height as needed */
  overflow-y: auto;
  margin-bottom: 20px; /* Add margin to create space between tables */
  width: 100%; /* Make the container full width */
}

.loan-table {
  width: 100%;
  border-collapse: collapse;
}

.loan-table th,
.loan-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.loan-table thead th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.extend-button,
.delete-button {
  background-color: #e29510;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.extend-button:hover,
.delete-button:hover {
  background-color: #e29510bc;
}

.form-container {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 35%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.submit-button,
.cancel-button {
  background-color: #007bff; /* Match the color in the screenshot */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.submit-button:hover,
.cancel-button:hover {
  background-color: #0056b3; /* Darker shade for hover */
}

.submit-button + .cancel-button {
  margin-top: 10px; /* Add margin between the buttons */
}
